
body{
    background-color:orange;
}
#tituloprincipal{
   text-align: center;
}
#imgprin{
   width: 100%;
  

}
#titulo1{
    background-color:wheat;
    text-align: center;
    height: 100%;
    width:100% ;
    line-height: 30px;
    font-size: x-large;
   

    
}
#gg{
    width:20% ;
    height: 20%;
}

#al{
    width: 20%;
    height: 20%;
   
    
}
#tt{
    width: 10%;
    height: 10%;
   


}
#sum{
    line-height: 30px;
    font-variant-caps: all-small-caps;
    font-size: 20px;
}
#bb{
    background-color:orange;
    
}
    
#titulo2{
    
    background-color:white;
    text-align: center;
    height: 100%;
    width:100% ;
    line-height: 20px;
    font-style: italic;
    font-size:smaller;

    
     
}
#img2{
    height: 40%;
    width: 62%;

}
#titulo3{
    background-color:white;
    text-align: center;
    height: 100%;
    width:100% ;
    line-height: 20px;
    font-style: italic;
    
}
#p3{
    height: 5px;
}
#img3{
    height: 40%;
    width: 62%;
}
#t4{
    background-color: white;
    text-align: center;
    height: 100%;
    width: 100%;
    line-height: 20px;
    font-style: italic;
}
#img4{
    height: 40%;
    width: 62%;
}
#t5{
    background-color:white;
    text-align: center;
    height: 100%;
    width:100% ;
    line-height: 20px;
    font-style: italic;
    
}
#img5{
    height: 40%;
    width: 62%;
}
#t6{
    background-color:white;
    text-align: center;
    height: 100%;
    width:100% ;
    line-height: 20px;
    font-style: italic;
    
}
#img6{
    height: 40%;
    width: 62%;
}
#T7{
    background-color:white;
    text-align: center;
    height: 100%;
    width:100% ;
    line-height: 20px;
    font-style: italic;
    
    
}
#img7{
    height: 40%;
    width: 62%;
}
#T8{
    background-color:white;
    text-align: center;
    height: 100%;
    width:100% ;
    line-height: 20px;
    font-style: italic;
    

}
#img8{
    height: 40%;
    width: 62%;
}
#t9{
    background-color:white;
    text-align: center;
    height: 100%;
    width:100% ;
    line-height: 20px;
    font-style: italic;
    
}
#img9{
    height: 40%;
    width: 62%;
}
#t10{
    background-color:white;
    text-align: center;
    height: 100%;
    width:100% ;
    line-height: 20px;
    font-style: italic;
    
}
#img10{
    height: 40%;
    width: 62%;
}
#t11{
    background-color:white;
    text-align: center;
    height: 100%;
    width:100% ;
    line-height: 20px;
    font-style: italic;
    
    
}
#img11{
    height: 40%;
    width: 62%;
}
#t12{
    background-color:white;
    text-align: center;
    height: 100%;
    width:100% ;
    line-height: 20px;
    font-style: italic;
    

}
#img12{
    height: 40%;
    width: 62%;

}
#fim{
    text-align: center;
    width: 100%;
    height: 20%;
    font-variant-caps: all-small-caps;
    background-color:orange;
    font-size: 20px;
    
}


