# joyce-27.github.io
body{
    background-color:orange;
}
#titulo1{
    background-color:wheat;
    text-align: center;
    height: auto;
    width: 100%;
}

#al{
    width: 20%;
    height: 20%;
    
}
#tt{
    width: 10%;
    height: 10%;


}
    
#titulo2{
    
    background-color: white;
    text-align: center;
    height: 100%;
    width: 100%;
    line-height: 40px;
    text-decoration-color: orange;  

}


#img2{
    width: 70%;
    height: 40%;

}
#titulo3{
    background-color:white;
    text-align: center;
    text-decoration-color: tomato;
    height: 100%;
    width:100% ;
    line-height: 40px;
    
}
#p3{
    height: 5px;
}
#img3{
    width: 60%;
    height: 30%;
}
#t4{
    background-color: white;
    text-align: center;
    height: 100%;
    width: 100%;
    line-height: 40px;
}
#img4{
    height:40%;
    width: 70%;
}
#t5{
    background-color: white;
    text-align: center;
    height: 100%;
    width: 100%;
    line-height: 40px;
}
#img5{
    height: 40%;
    width: 70%;
}
#t6{
    background-color: white;
    text-align: center;
    height: 100%;
    width: 100%;
    line-height: 40px;
}
#img6{
    height: 70%;
    width: 40%;
}
#T7{
    background-color: white;
    text-align: center;
    height: 100%;
    width: 100%;
    line-height: 40px;
    
}
#img7{
    height: 40%;
    width: 70%;
}
#T8{
    background-color: white;
    text-align: center;
    height: 100%;
    width: 100%;
    line-height: 40px;

}
#img8{
    height: 40%;
    width: 70%;
}
#t9{
    background-color: white;
    text-align: center;
    height: 100%;
    width: 100%;
    line-height: 40px;
}
#img9{
    height: 40%;
    width: 70%;
}
#t10{
    background-color: WHITE;
    text-align: center;
    height: 100%;
    width: 100%;
    line-height: 40px;
}
#img10{
    height: 40%;
    width: 70%;
}
#t11{
    background-color: white;
    text-align: center;
    height: 100%;
    width:100% ;
    line-height: 40px;
    
}
#img11{
    height: 40%;
    width: 62%;
}
#RR{
    text-align: center;
    width: 100%;
    height: 20%;
}
#IMG12{
    height: 70%;
    width: 30%;

}

